@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.a {
    margin-right:5px;
    color:white;
}

a:hover {
    color:white;
    box-shadow: inset 0px 0px 10px 0px #ffffff;

    }

  